body {
  font-family: Verdana, Tahoma, Sans-Serif;
  color: #810e15;
  background-color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:active {
  color: #810e15;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: #1d1414;
}
a:visited {
  color: #1d1414;
}
.bold {
  font-weight: bold;
}
.white {
  color: white;
}
.icons {
  margin-top: 1em;
}
.as-icon-active {
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.6), inset 0 -3px 3px rgba(255, 255, 255, 0.4);
}
.top-header {
  display: block;
  overflow: hidden;
  background-color: #444;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #aa0000;
}
.footer {
  padding-top: 0.25em;
  border-top: 1px solid #aa0000;
}
.antismash-logo {
  float: left;
}
.antismash-title {
  margin: 1em 1em 0px 1em;
  float: left;
}
.antismash-title a {
  color: white;
  font-size: 120%;
  font-weight: bold;
}
.antismash-title a:hover {
  text-decoration: none;
}
#header {
  margin: 0px auto;
  display: block;
  border-bottom: 2px solid #810e15;
}
#header img {
  border: 0px;
  padding-left: 0.5em;
}
#icons {
  margin-top: 2em;
  float: left;
  font-size: 0.9em;
  min-height: 1.1em;
  overflow: visible;
}
#downloadmenu {
  border: 1px solid black;
  background-color: white;
  display: none;
  position: absolute;
  width: 20%;
}
#downloadoptions {
  list-style-type: none;
  padding: 0 0 0 0.2em;
}
#downloadoptions li {
  margin: 0;
}
#buttons {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  overflow: hidden;
}
#cluster-type {
  margin-left: 0.5em;
  text-transform: capitalize;
}
.page {
  overflow: hidden;
}
.page h3 {
  font-size: 90%;
  background-color: #810e15;
  color: white;
  margin: 0.1em 0 0.4em 0.1em;
  padding-left: 0.5em;
}
.sidepanel {
  display: block;
  float: right;
  border-left: 2px solid #810e15;
  width: 20%;
}
.structure img {
  width: 90%;
  height: auto;
}
.as-structure-warning {
  font-size: 60%;
}
.prediction-text {
  font-size: 75%;
  margin-left: 0.5em;
}
.content {
  display: block;
  max-width: 79%;
}
.cluster-type {
  margin: 0 0 0 0.5em;
  padding: 0;
}
#clusterbuttons {
  margin: 0 0 0 0.5em;
  padding: 0;
  list-style-type: none;
  min-height: 1.1em;
  min-height: 2em;
}
#clusterbuttons a:hover {
  text-decoration: none;
}
#clusterbuttons li {
  float: left;
  margin: 0;
  margin-right: 0.2em;
  border-radius: 50%;
  padding: 0.25em;
  min-width: 1.25em;
  min-height: 1.25em;
  text-align: center;
  vertical-align: middle;
}
/* start colour definitions for secondary metabolite types */
.pks {
  background-color: sandybrown;
}
.pks a {
  color: purple;
}
.pigment {
  background-color: sienna;
}
.pigment a {
  color: white;
}
.hydrocarbon {
  background-color: purple;
}
.hydrocarbon a {
  color: white;
}
.ripp {
  background-color: royalblue;
}
.ripp a {
  color: white;
}
.putative {
  background-color: #f2f2f2;
}
.putative a {
  color: black;
}
.t1pks {
  background-color: sandybrown;
}
.t1pks a {
  color: purple;
}
.transatpks {
  background-color: sandybrown;
}
.transatpks a {
  color: purple;
}
.t2pks {
  background-color: sandybrown;
}
.t2pks a {
  color: purple;
}
.t3pks {
  background-color: sandybrown;
}
.t3pks a {
  color: purple;
}
.otherks {
  background-color: sandybrown;
}
.otherks a {
  color: purple;
}
.arylpolyene {
  background-color: sienna;
}
.arylpolyene a {
  color: white;
}
.resorcinol {
  background-color: purple;
}
.resorcinol a {
  color: white;
}
.ladderane {
  background-color: purple;
}
.ladderane a {
  color: white;
}
.pufa {
  background-color: purple;
}
.pufa a {
  color: white;
}
.nrps {
  background-color: seagreen;
}
.nrps a {
  color: white;
}
.terpene {
  background-color: purple;
}
.terpene a {
  color: white;
}
.lantibiotic {
  background-color: #ffff77;
}
.lantibiotic a {
  color: blue;
}
.lantipeptide {
  background-color: #ffff77;
}
.lantipeptide a {
  color: blue;
}
.bacteriocin {
  background-color: royalblue;
}
.bacteriocin a {
  color: white;
}
.thiopeptide {
  background-color: gold;
}
.thiopeptide a {
  color: black;
}
.linaridin {
  background-color: royalblue;
}
.linaridin a {
  color: white;
}
.cyanobactin {
  background-color: royalblue;
}
.cyanobactin a {
  color: white;
}
.glycocin {
  background-color: royalblue;
}
.glycocin a {
  color: white;
}
.lap {
  background-color: royalblue;
}
.lap a {
  color: white;
}
.lassopeptide {
  background-color: royalblue;
}
.lassopeptide a {
  color: white;
}
.sactipeptide {
  background-color: royalblue;
}
.sactipeptide a {
  color: white;
}
.bottromycin {
  background-color: royalblue;
}
.bottromycin a {
  color: white;
}
.head_to_tail {
  background-color: royalblue;
}
.head_to_tail a {
  color: white;
}
.microcin {
  background-color: royalblue;
}
.microcin a {
  color: white;
}
.microviridin {
  background-color: royalblue;
}
.microviridin a {
  color: white;
}
.proteusin {
  background-color: royalblue;
}
.proteusin a {
  color: white;
}
.blactam {
  background-color: aliceblue;
}
.blactam a {
  color: black;
}
.amglyccycl {
  background-color: yellowgreen;
}
.amglyccycl a {
  color: black;
}
.amimocoumarin {
  background-color: yellowgreen;
}
.amimocoumarin a {
  color: black;
}
.siderophore {
  background-color: crimson;
}
.siderophore a {
  color: white;
}
.ectoine {
  background-color: yellowgreen;
}
.ectoine a {
  color: firebrick;
}
.butyrolactone {
  background-color: mediumpurple;
}
.butyrolactone a {
  color: white;
}
.indole {
  background-color: peachpuff;
}
.indole a {
  color: black;
}
.nucleoside {
  background-color: antiquewhite;
}
.nucleoside a {
  color: black;
}
.phosphoglycolipid {
  background-color: yellowgreen;
}
.phosphoglycolipid a {
  color: black;
}
.melanin {
  background-color: sienna;
}
.melanin a {
  color: white;
}
.oligosaccharide {
  background-color: burlywood;
}
.oligosaccharide a {
  color: black;
}
.furan {
  background-color: purple;
}
.furan a {
  color: white;
}
.hserlactone {
  background-color: tan;
}
.hserlactone a {
  color: black;
}
.phenazine {
  background-color: plum;
}
.phenazine a {
  color: black;
}
.phosphonate {
  background-color: mediumaquamarine;
}
.phosphonate a {
  color: black;
}
.fused {
  background-color: royalblue;
}
.fused a {
  color: white;
}
.other {
  background-color: midnightblue;
}
.other a {
  color: lightsteelblue;
}
.cf_saccharide {
  background-color: #f2f2f2;
}
.cf_saccharide a {
  color: black;
}
.cf_fatty_acid {
  background-color: #f2f2f2;
}
.cf_fatty_acid a {
  color: black;
}
.hybrid {
  background-color: lightsteelblue;
}
.hybrid a {
  color: midnightblue;
}
/* done with sec met types */
.dha {
  font-weight: bold;
  color: mediumseagreen;
}
.dhb {
  font-weight: bold;
  color: mediumorchid;
}
.cys {
  font-weight: bold;
  color: royalblue;
}
.macrolactam {
  font-weight: bold;
  color: red;
}
.cut {
  font-weight: bold;
  color: grey;
}
.separator-text {
  font-size: 80%;
  padding-top: 1em;
}
.description-text,
.cluster-rules-header {
  font-size: 70%;
}
.alt-weight-desc {
  font-size: 70%;
  color: #1d1414;
}
.alt-weight-n {
  font-size: 70%;
  color: #1d1414;
  padding-left: 2.5em;
}
.cluster-download {
  font-size: 70%;
  float: right;
}
.cluster-rules {
  font-size: 70%;
  display: none;
  border: 1px solid slategray;
  background-color: #ddd;
}
.description-container {
  padding-bottom: 1em;
  margin-left: 0.5em;
}
table {
  border-collapse: collapse;
}
#cluster-overview {
  padding: 0;
  margin-left: 0.5em;
}
#cluster-overview th {
  margin: 0.2em 0.5em;
  padding: 0 0.5em;
}
#cluster-overview .separator-row {
  background-color: #ddd;
}
#cluster-overview .separator-row td {
  padding-top: 1em;
}
#cluster-overview .even {
  background-color: #f1f1f1;
}
#cluster-overview td {
  margin: 0.2em 0.5em;
  padding: 0.2em 0.5em;
}
#cluster-overview .digits {
  text-align: right;
}
.tooltip {
  border: 2px solid slategray;
  background-color: #ddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.svgene-type-other {
  fill: gray;
  stroke: black;
}
.svgene-type-biosynthetic {
  fill: #810e15;
  stroke: black;
}
.svgene-type-transport {
  fill: cornflowerblue;
  stroke: black;
}
.svgene-type-regulatory {
  fill: seagreen;
  stroke: black;
}
.svgene-line {
  stroke-width: 1px;
  stroke: #888;
}
.svgene-locustag {
  fill: #810e15;
  display: none;
  font-size: 80%;
}
.svgene-tooltip {
  border: 2px solid slategray;
  background-color: #ddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.svgene-tooltip-bold {
  font-weight: bold;
  font-size: 120%;
}
.legend-type-other {
  background-color: gray;
}
.legend-type-biosynthetic {
  background-color: #810e15;
}
.legend-type-transport {
  background-color: cornflowerblue;
}
.legend-type-regulatory {
  background-color: seagreen;
}
.legend {
  font-size: 80%;
  overflow: hidden;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.legend h4 {
  margin-bottom: 0.5em;
}
.legend-field {
  float: left;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  margin-right: 0.25em;
  border: 1px solid black;
}
.legend-label {
  float: left;
}
.details,
.clusterblast,
.subclusterblast {
  margin-left: 0.5em;
}
.jsdomain-line {
  stroke-width: 1px;
  stroke: #888;
}
.jsdomain-orflabel {
  fill: #810e15;
}
.jsdomain-tooltip {
  border: 2px solid slategray;
  background-color: #ddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.clusterblast-locustag {
  fill: #810e15;
  display: none;
  font-size: 80%;
  position: absolute;
}
.clusterblast-tooltip {
  border: 2px solid slategray;
  background-color: #ddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.clusterblast-acc {
  fill: #810e15;
  font-size: 80%;
  font-family: Verdana, Tahoma, Sans-Serif;
}
.clusterblast-desc {
  fill: #810e15;
  font-size: 80%;
  font-family: Verdana, Tahoma, Sans-Serif;
  font-size: 75%;
}
#footer {
  border-top: 2px solid #810e15;
}
#logos {
  float: left;
  padding-left: 0.5em;
  margin-top: 5px;
}
#logos img {
  padding-right: 25px;
}
#logo-table tr td {
  height: 50px;
  padding: 5px;
}
#copyright {
  font-size: 60%;
  float: right;
  width: 40%;
  margin-right: 1.5em;
  padding: 0.5em;
}
